* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    line-height: 1.65;
    background-color: black;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    width: 90%;
}

main {
    width: 90%;
    flex-grow: 1;
}

footer {
    width: 90%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3 {
    font-family: 'Archivo Black', sans-serif;
}