* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    line-height: 1.65;
    background-color: black;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    width: 90%;
}

main {
    width: 90%;
    flex-grow: 1;
}

footer {
    width: 90%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

i {
    line-height: 1;
}

/* ================= BASE ================= */
p {
    margin: 0 0 2em 0;
}

h1,
h2,
h3 {
    color: var(--dark);
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    margin: 0 0 1em 0;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}